################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MiniBin
/MiniBin/x64/Debug
/x64/Debug
